//
//  Config.xcconfig
//  CResolver
//
//  Created by Jaden Geller on 4/10/16.
//
//

MODULEMAP_FILE[sdk=iphoneos*]        = $(SRCROOT)/CResolver/iphoneos.modulemap
MODULEMAP_FILE[sdk=iphonesimulator*] = $(SRCROOT)/CResolver/iphonesimulator.modulemap
MODULEMAP_FILE[sdk=macosx*]          = $(SRCROOT)/CResolver/macosx.modulemap
